[submodule "json-schemas"]
	path = json-schemas
	url = https://github.com/jassielof/json-schemas
[submodule "hayagriva-zotero-translator"]
	path = hayagriva-zotero-translator
	url = https://github.com/jassielof/hayagriva-zotero-translator.git
[submodule "hayagriva"]
	path = hayagriva
	url = https://github.com/jassielof/hayagriva.git
