@import '@ibm/plex-sans/css/ibm-plex-sans-all';
@import '@ibm/plex-mono/css/ibm-plex-mono-all';
@import '@ibm/plex-serif/css/ibm-plex-serif-all';
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
  themes:
    emerald --default,
    dim --prefersdark;
}

@theme {
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --font-serif: 'IBM Plex Serif', serif;
}
